In [4]:
import data
import bars

In [2]:
d = data.load('./IVE_tickbidask.txt')

In [3]:
d.head()

                     price  vol
date
2009-09-28 09:30:00  50.79  100
2009-09-28 09:30:00  50.71  638
2009-09-28 09:31:32  50.75  100
2009-09-28 09:31:50  50.75  300
2009-09-28 09:32:06  50.78  300

In [16]:
d['dollar_value'] = d['price']*d['vol']
d = d.reset_index()

def dollar_bars(df, m):
    df['group_id'] = df['dollar_value'].cumsum() // m
    return df.groupby('group_id').agg(
        timestamp=('date', 'last'),
        open=('price', 'first'),
        high=('price', 'max'),
        low=('price', 'min'),
        close=('price', 'last')
    ).reset_index(drop=True)

dbars = dollar_bars(d, 1_000_000)

In [17]:
len(dbars)

56791